.wrapper {
  min-width: 100%;
}
.dateInput {
  background-color: var(--inputs);
  border-radius: 12px;
  padding: 14px 20px;
  min-width: 100%;
}
.dateInput::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}
