.header {
  background-color: var(--badges);
  padding: 24px 120px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 520px) {
  .header {
    padding: 24px;
  }
}

.navigation {
  display: flex;
  gap: 32px;
}

.navigation_link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}

.navigation_link:hover {
  color: var(--button-hover);
}

.active {
  color: var(--button-hover);
}

.logo {
  font-family: var(--font-family);
  color: var(--main);
  font-weight: 700;
  font-size: 20px;
}

.logo_span {
  color: var(--button);
}
