.banner {
  width: 100vw;
  height: 90vh;
  padding-bottom: 60px;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.banner h2 {
  margin-top: 16px;
  margin-bottom: 40px;
}
